.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/sa-min1.jpg?rand=975d");
  background-position: 100% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  text-shadow: 6px 4px 11px rgba(0,0,0,1);
  animation-duration: 1000ms;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.875rem;
  margin: 93px 21px 0 16px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  text-shadow: 6px 4px 11px rgba(0,0,0,1);
  animation-duration: 1000ms;
  margin: 31px 16px 0 214px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1078px;
  margin: 79px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px) calc(25% - 19.5px);
  grid-gap: 26px 26px;
  min-height: 203px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  animation-duration: 2000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 29px 30px;
}

.u-section-1 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-shadow: 0 -2px 11px rgba(255,255,255,1);
  margin: 24px 1px 0;
}

.u-section-1 .u-list-item-2 {
  animation-duration: 2000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 24px 29px 30px;
}

.u-section-1 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-shadow: 0 -2px 11px rgba(255,255,255,1);
  margin: 24px 1px 0;
}

.u-section-1 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 29px 30px;
}

.u-section-1 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-shadow: 0 -2px 11px rgba(255,255,255,1);
  margin: 24px 1px 0;
}

.u-section-1 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-4 {
  padding: 24px 29px 30px;
}

.u-section-1 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-shadow: 0 -2px 11px rgba(255,255,255,1);
  margin: 24px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 0;
    margin-left: 29px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 24.75px) calc(25% - 24.75px) calc(25% - 24.75px) calc(25% - 24.75px);
    grid-gap: 33px 33px;
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 22px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 1px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 81px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: 54px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px) calc(25% - 11.25px);
    grid-gap: 15px 15px;
    min-height: 182px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 49px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 35px;
    margin-right: -8px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    min-height: 297px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 19px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 562px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-1 .u-list-1 {
    width: 261px;
    margin-top: 34px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 604px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/147300914-01.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/8b1fa3cf6d0122a0aa981c274f1cf69c03d677c6474cb9af45d3e6acfd227433a6feeb2e4a30ea6a84e54d9e41e11e649eea82eebafbc64973c757_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 247px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 14px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 26px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 31px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: -1px;
    margin-right: -1px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/147300914-0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 800px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 0;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/0ce83f01340ad3e802ed167803587f3db3e8b5d727c2afeed6e1c53b59200a28d6579a1a61d73c2bd874f09d9984a23aa54bbfcfffb271c7f0279a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 0;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/2b93e1fb86bdaad6408b78add94a2d400d33a02b3f22eab29dc8f732fd774d3c2dc3a0a91dfe5d371a6fc951ccfefe14b2a57cc94f45ad4425dbc0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 800px;
}

.u-section-6 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/8ac843f353706a98bd6eaaaff1f0c39342db0d9e9cb39788b3d3c462c0b67a48789ccacff5079d7b88411941793138aac79aecaa449d163699bed3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 800px;
}

.u-section-7 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 248px auto 0 350px;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  line-height: 48px;
  margin: 0 auto 0 349px;
}

.u-section-7 .u-text-3 {
  margin: 20px auto 0 364px;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 40px auto 60px 502px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 166px;
    margin-left: 250px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-left: 249px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 261px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 68px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 170px;
    margin-left: 140px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 139px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 154px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-7 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 198px;
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-7 .u-text-3 {
    margin-left: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 595px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    margin-top: 158px;
  }

  .u-section-7 .u-text-2 {
    line-height: 1.2;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 13px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 52px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/g273c53a09f7143a308c09dcf9e51fc100da588668d582cb5170074d690a8cf54ff87eec15a92d81c3a1845e053dc3105_1280.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 800px;
}

.u-section-8 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 60px auto 0;
}

.u-section-8 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-8 .u-text-1 {
  width: 680px;
  margin: 30px auto 0;
}

.u-section-8 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  align-self: center;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-8 .u-video-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-8 .u-text-1 {
    width: 540px;
  }

  .u-section-8 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-8 .u-video-1 {
    height: 191px;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    width: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1270px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  margin: 20px 108px 0;
}

.u-section-9 .u-layout-wrap-1 {
  width: 1140px;
  margin: 40px 0 0;
}

.u-section-9 .u-image-1 {
  min-height: 592px;
  background-image: url("images/modern-business-building-scenery-touching-sky_181624-6591.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 382px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-icon-1 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 14px auto 0 0;
}

.u-section-9 .u-text-3 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  margin: 29px auto 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 385px;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-icon-2 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 14px auto 0 0;
}

.u-section-9 .u-text-5 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  margin: 29px auto 0 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 26px 0 0;
}

.u-section-9 .u-image-2 {
  background-image: url("images/modern-skyscrapers-business-district_23-2148836776.jpg");
  background-position: 50% 50%;
  min-height: 589px;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  min-height: 509px;
  background-image: url("images/low-angle-vertical-shot-modern-architectural-buildings-with-cloudy-blue-sky_181624-29102.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px;
}

.u-section-9 .u-layout-cell-6 {
  min-height: 465px;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-icon-3 {
  height: 82px;
  width: 82px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-7 {
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  margin: 34px auto 0 0;
}

.u-section-9 .u-text-8 {
  margin: 16px 26px 0 0;
}

.u-section-9 .u-text-9 {
  margin: 30px auto 60px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-9 .u-image-1 {
    min-height: 488px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 0;
  }

  .u-section-9 .u-image-2 {
    min-height: 486px;
  }

  .u-section-9 .u-image-3 {
    min-height: 420px;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 383px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2022px;
  }

  .u-section-9 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-9 .u-image-1 {
    min-height: 561px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-9 .u-image-2 {
    min-height: 558px;
  }

  .u-section-9 .u-image-3 {
    min-height: 298px;
  }

  .u-section-9 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2162px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-9 .u-image-1 {
    min-height: 258px;
    order: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-9 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-9 .u-image-2 {
    min-height: 837px;
    order: 1;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-3 {
    min-height: 224px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 2393px;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.5rem;
    width: 254px;
    margin-top: 47px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: auto;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-image-2 {
    min-height: 527px;
  }

  .u-section-9 .u-image-3 {
    min-height: 258px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-text-9 {
    margin-bottom: 30px;
  }
}.u-section-10 {
  min-height: 966px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-10 .u-image-1 {
  background-image: url("images/7d7cceff913c6e4de84e8bcdccdd368b7392882995cf4b9d5d3100cd5c7d2094025eafae423fc3f47a3e8640d90629b57976e87a63b3cc7440bb9e_1280.jpg");
  background-position: 50% 50%;
  min-height: 899px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 657px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 50px 11px;
}

.u-section-10 .u-text-1 {
  font-weight: normal;
  margin: 0 37px 0 0;
}

.u-section-10 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 37px 0 0;
}

.u-section-10 .u-text-3 {
  text-transform: uppercase;
  margin: 37px 37px 0 0;
}

.u-section-10 .u-text-4 {
  background-image: none;
  margin: 20px 37px 0 0;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  margin: 20px 52px 0 0;
}

.u-section-10 .u-text-6 {
  margin: 20px 52px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 307px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 50px 0;
}

.u-section-10 .u-text-7 {
  margin: 26px auto 0 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 37px 0 0;
}

.u-section-10 .u-text-9 {
  margin: 20px 293px 0 0;
}

.u-section-10 .u-text-10 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 {
    min-height: 1005px;
  }

  .u-section-10 .u-image-1 {
    min-height: 741px;
  }

  .u-section-10 .u-layout-cell-2 {
    margin-top: 0;
    min-height: 542px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 7px;
  }

  .u-section-10 .u-text-6 {
    margin-right: 7px;
  }

  .u-section-10 .u-layout-cell-3 {
    margin-top: 0;
    min-height: 253px;
  }

  .u-section-10 .u-text-8 {
    margin-right: 0;
  }

  .u-section-10 .u-text-9 {
    margin-right: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-10 {
    min-height: 1326px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 770px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-image-1 {
    min-height: 1324px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 910px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 414px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 {
    min-height: 1199px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-image-1 {
    min-height: 300px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 659px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-right: 50px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 50px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-10 {
    min-height: 1536px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 850px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-right: 0;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 384px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .u-section-10 .u-text-9 {
    margin-right: 0;
  }
}.u-section-11 {
  min-height: 768px;
}

.u-section-11 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-layout-cell-1 {
  min-height: 768px;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-11 .u-text-1 {
  margin: 0 60px 0 81px;
}

.u-section-11 .u-text-2 {
  margin: 20px 60px 0 81px;
}

.u-section-11 .u-text-3 {
  margin: 20px 60px 0 81px;
}

.u-section-11 .u-text-4 {
  margin: 20px 60px 0 81px;
}

.u-section-11 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.45), rgba(71,138,201,0.45)), url("images/147300914-02.jpeg");
  background-position: 50% 50%;
  min-height: 768px;
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-11 {
    min-height: 633px;
  }

  .u-section-11 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 764px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: 10px;
    margin-left: 52px;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 52px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-right: 10px;
    margin-left: 52px;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-right: 10px;
    margin-left: 52px;
  }

  .u-section-11 .u-image-1 {
    min-height: 633px;
  }
}

@media (max-width: 991px) {
  .u-section-11 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 770px);
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 950px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-11 .u-image-1 {
    min-height: 950px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 {
    min-height: 1007px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 640px;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 707px;
    order: 1;
  }

  .u-section-11 .u-text-1 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-image-1 {
    min-height: 300px;
    order: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 {
    min-height: 962px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-layout-cell-1 {
    min-height: 803px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-image-1 {
    min-height: 159px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 872px;
}

.u-section-12 .u-text-1 {
  width: 727px;
  margin: 52px auto 0;
}

.u-section-12 .u-layout-wrap-1 {
  width: 1089px;
  margin: 60px auto;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 345px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px;
}

.u-section-12 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-12 .u-container-layout-2 {
  padding: 30px 35px;
}

.u-section-12 .u-text-3 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-12 .u-layout-cell-3 {
  min-height: 345px;
}

.u-section-12 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-12 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 10px 21px 0 39px;
}

.u-section-12 .u-layout-cell-4 {
  min-height: 327px;
}

.u-section-12 .u-container-layout-4 {
  padding: 30px;
}

.u-section-12 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-12 .u-layout-cell-5 {
  min-height: 327px;
}

.u-section-12 .u-container-layout-5 {
  padding: 30px;
}

.u-section-12 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-12 .u-layout-cell-6 {
  min-height: 327px;
}

.u-section-12 .u-container-layout-6 {
  padding: 30px;
}

.u-section-12 .u-icon-5 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-12 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1023px;
  }

  .u-section-12 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-12 .u-icon-1 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 488px;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 488px;
  }

  .u-section-12 .u-icon-2 {
    color: rgb(219, 84, 90) !important;
  }

  .u-section-12 .u-text-4 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 335px;
  }

  .u-section-12 .u-icon-3 {
    color: rgb(44, 204, 196) !important;
  }

  .u-section-12 .u-layout-cell-5 {
    min-height: 335px;
  }

  .u-section-12 .u-icon-4 {
    color: rgb(114, 104, 63) !important;
  }

  .u-section-12 .u-layout-cell-6 {
    min-height: 335px;
  }

  .u-section-12 .u-icon-5 {
    color: rgb(71, 138, 201) !important;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-12 .u-text-1 {
    width: 720px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-12 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-text-4 {
    margin-left: 0;
  }

  .u-section-12 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-12 .u-text-1 {
    width: 540px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    width: auto;
  }

  .u-section-12 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-layout-cell-3 {
    order: 2;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-12 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-13 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.95), rgba(255,255,255,0.95)), url("images/2b93e1fb86bdaad6408b78add94a2d400d33a02b3f22eab29dc8f732fd774d3c2dc3a0a91dfe5d371a6fc951ccfefe14b2a57cc94f45ad4425dbc0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 1344px;
}

.u-section-13 .u-text-1 {
  width: 727px;
  margin: 52px auto 0;
}

.u-section-13 .u-layout-wrap-1 {
  width: 1089px;
  margin: 20px auto 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 62px;
  margin-top: 0;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 35px;
}

.u-section-13 .u-text-2 {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 496px;
  margin-top: 0;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-13 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-13 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 496px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-icon-2 {
  height: 76px;
  width: 76px;
  background-image: none;
  color: rgb(71, 138, 201) !important;
  margin: 0 auto;
}

.u-section-13 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-13 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-13 .u-layout-cell-4 {
  min-height: 496px;
  margin-top: 0;
}

.u-section-13 .u-container-layout-4 {
  padding: 30px;
}

.u-section-13 .u-icon-3 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-13 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-13 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-13 .u-layout-cell-5 {
  min-height: 496px;
}

.u-section-13 .u-container-layout-5 {
  padding: 30px;
}

.u-section-13 .u-icon-4 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 0 auto;
}

.u-section-13 .u-text-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0 0;
}

.u-section-13 .u-text-10 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-13 .u-icon-1 {
    color: rgb(44, 204, 196) !important;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 428px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 428px;
  }

  .u-section-13 .u-icon-3 {
    color: rgb(71, 138, 201) !important;
  }

  .u-section-13 .u-layout-cell-5 {
    min-height: 428px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-13 .u-text-1 {
    width: 720px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-13 .u-text-1 {
    width: 540px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/112232cb7216aad02e608b191a5372ef14387bb51507e9d5895f27e6c46349a0f93147ea26ff120805997c4e9a1ce97a6c7874e33e2a1dc71bb7cb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 824px;
}

.u-section-14 .u-layout-wrap-1 {
  margin-top: 73px;
  margin-bottom: 60px;
}

.u-section-14 .u-layout-cell-1 {
  min-height: 687px;
}

.u-section-14 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-14 .u-text-1 {
  margin: 39px 0 0;
}

.u-section-14 .u-text-2 {
  margin: 60px auto 0 0;
}

.u-section-14 .u-text-3 {
  background-image: none;
  margin: 20px 0 0;
}

.u-section-14 .u-list-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-14 .u-list-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-14 .u-list-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-14 .u-list-icon-4 {
  color: rgb(255, 255, 255) !important;
}

.u-section-14 .u-list-icon-5 {
  color: rgb(255, 255, 255) !important;
}

.u-section-14 .u-layout-cell-2 {
  min-height: 687px;
  background-image: none;
}

.u-section-14 .u-container-layout-2 {
  padding: 30px;
}

.u-section-14 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-14 .u-text-5 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-14 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-14 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-14 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-14 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-14 .u-layout-cell-2 {
    min-height: 730px;
  }
}.u-section-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/500a184b4b50058458e9a02cd2e07ba2506cb57df583edfc7ca4391ac30b06d226119fb4f730489ea2e3802e4307f5e6b99e1f2af482a7e966d1f5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-15 .u-sheet-1 {
  min-height: 884px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 824px;
}

.u-section-15 .u-container-layout-1 {
  padding: 30px 17px;
}

.u-section-15 .u-list-1 {
  width: 409px;
  margin: 0 auto 0 0;
}

.u-section-15 .u-repeater-1 {
  grid-gap: 38px 38px;
  grid-template-columns: 100%;
  min-height: 695px;
}

.u-section-15 .u-list-item-1 {
  background-image: none;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px;
}

.u-section-15 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-15 .u-list-item-2 {
  background-image: none;
}

.u-section-15 .u-container-layout-3 {
  padding: 30px;
}

.u-section-15 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-4 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-15 .u-list-item-3 {
  background-image: none;
}

.u-section-15 .u-container-layout-4 {
  padding: 30px;
}

.u-section-15 .u-text-5 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-6 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-15 .u-list-item-4 {
  background-image: none;
}

.u-section-15 .u-container-layout-5 {
  padding: 30px;
}

.u-section-15 .u-text-7 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-8 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 824px;
}

.u-section-15 .u-container-layout-6 {
  padding: 30px 0 0 50px;
}

.u-section-15 .u-text-9 {
  margin: 0 auto 0 0;
}

.u-section-15 .u-text-10 {
  margin: 36px auto 0 0;
}

.u-section-15 .u-text-11 {
  margin: 36px 0 0;
}

.u-section-15 .u-text-12 {
  margin: 36px 0 0;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-15 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-15 .u-list-1 {
    width: 343px;
    margin-top: 331px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 679px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-list-1 {
    width: 255px;
    margin-top: 0;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-6 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-15 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-15 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-15 .u-container-layout-6 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-15 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-15 .u-repeater-1 {
    min-height: 796px;
  }
}.u-section-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/low-angle-vertical-shot-modern-architectural-buildings-with-cloudy-blue-sky_181624-29102.jpg");
  background-position: 50% 50%;
}

.u-section-16 .u-sheet-1 {
  min-height: 1248px;
}

.u-section-16 .u-custom-html-1 {
  margin-bottom: 1px;
  min-height: 1247px;
  margin-top: 1px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-custom-html-1 {
    height: auto;
  }
}.itemmv {
}
.itemmv  .u-layout-cell, .u-container-style.u-opacity, .u-group.u-opacity {
    background-color: unset !important;
    opacity: unset  !important;
}
.itemmv .u-list-item  {
background:rgba(255,255,255,.7);
transition:1s
}
.itemmv .u-list-item:hover  {
background:rgba(255,255,255,1) !important;
}
